html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$theme-colors: (
  "primary": #ffd828,
  "secondary": #000000,
  "warning": #ffae28,
  "gray": #464646,
  "info": #28ff69,
);

@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Jedi";
  src: url("/jedi.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
