.title {
  font-family: "jedi";
  min-height: 5rem;
  margin: 0;
}

.main {
  flex-grow: 1;
  background-image: url("/fighter2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
