.ship {
  text-align: center;
}

.list {
  padding-left: unset;
  overflow-y: scroll;
  font-size: 1.5rem;
  column-width: 260px;
}

.button {
  font-size: 1.5rem;
}

.message {
  min-height: 2.5rem;
}
